{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock css %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>

    <div class="card-list card-list_column">
        <ul class="shopping-list">
            <li class="shopping-list__item" data-id="111">
                <div class="recipe recipe_reverse">
                    <img src="{% static 'images/testCardImg.png' %}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">Французские тосты</h3>
                    <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
        </ul>

        <a href="#">
            <button class="button button_style_blue">
                Скачать список
            </button>
        </a>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/shopList.js' %}"></script>
{% endblock js %}