{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}
    Список покупок
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock css %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>

    {% if recipes %}
        <div class="card-list card-list_column">
            <ul class="shopping-list">
                {% for recipe in recipes %}
                    <li class="shopping-list__item" data-id="{{ recipe.pk }}">
                        <div class="recipe recipe_reverse">
                            <img src="{% static 'images/testCardImg.png' %}" alt="{{ recipe.name }}" class="recipe__image recipe__image_big">
                            <h3 class="recipe__title">{{ recipe.name }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                        </div>
                        <a href="#" class="shopping-list__button link">Удалить</a>
                    </li>
                {% endfor %}
            </ul>
            <a href="#" class="button button_style_blue">Скачать список</a>
        </div>
    {% else %}
        {% include 'components/alert.html' with message="В данный момент, список покупок пуст." %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/shopList.js' %}"></script>
{% endblock js %}