{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Список покупок{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock css %}

{% block content %}
    {% include 'components/main/header.html' with title='Список покупок' %}

    {% if not recipes %}
        {% include 'components/alert.html' with message='Список покупок пуст. Необходимо добавить хотя бы один рецепт.' %}
    {% else %}
        <div class="card-list card-list_column">
            <ul class="shopping-list">
                {% for recipe in recipes %}
                    <li class="shopping-list__item" data-id="{{ recipe.pk }}">
                        {% include 'components/recipes/item.html' with recipe=recipe classes='recipe_reverse' %}

                        <a href="#" class="shopping-list__button link">Удалить</a>
                    </li>
                {% endfor %}
            </ul>

            <a href="{% url 'users:purchases_pdf' %}" class="button button_style_blue">
                Скачать список
            </a>
        </div>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/shopList.js' %}"></script>
{% endblock js %}