{% extends 'layouts/base.html' %}

{% load static users %}

{% block title %}{{ author|get_name_or_username }}{% endblock title %}

{% block content %}
    {% include 'components/main/header.html' with title=author|get_name_or_username is_use_tags=True %}

    {% if request.user.is_authenticated and request.user.id != author.id %}
        <div class="author-subscribe" data-author="{{ author.id }}" style="padding-bottom: 2rem;">
            {% if is_subscribed %}
                <button class="button button_style_light-blue button_size_subscribe" name="subscribe">
                    Отписаться от автора
                </button>
            {% else %}
                <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
                    Подписаться на автора
                </button>
            {% endif %}
        </div>
    {% endif %}

    {% if recipes %}
        <div class="card-list">
            {% for recipe in recipes %}
                {% include 'components/recipes/card.html' with recipe=recipe %}
            {% endfor %}
        </div>

        {% if is_paginated %}
            {% include 'components/pagination.html' with page_obj=page_obj paginator=paginator %}
        {% endif %}
    {% else %}
        {% include 'components/alert.html' with message='У данного автора нет ни одного рецепта.' %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/authorRecipe.js' %}"></script>
{% endblock js %}