{% extends 'layouts/base.html' %}

{% load static users recipes %}

{% block title %}
    Мои подписки
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock css %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>

    {% if authors %}
        <div class="card-list">
            {% for author in authors %}
                <div class="card-user" data-author="{{ author.id }}">
                    <div class="card-user__header">
                        <h2 class="card-user__title">
                            {{ author|get_name_or_username }}
                        </h2>
                    </div>

                    <div class="card-user__body">
                        <ul class="card-user__items">
                            {% if author.recipes_count > 0 %}
                                {% for recipe in author.recipes.all %}
                                    {% if forloop.counter0 < conf.RECIPES_IN_SUBSCRIPTIONS_SIZE %}
                                        <li class="card-user__item">
                                            <div class="recipe">
                                                <img src="{% static 'images/testCardImg.png' %}" alt="{{ recipe.name }}" class="recipe__image">
                                                <h3 class="recipe__title">{{ recipe.name }}</h3>
                                                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% subtract author.recipes_count conf.RECIPES_IN_SUBSCRIPTIONS_SIZE as remained %}

                                {% if remained > 0 %}
                                    <li class="card-user__item">
                                        <a href="{% url 'users:recipes' author.username %}" class="card-user__link link">
                                            Еще {{ remained|declenize:'рецепт рецепта рецептов' }}...
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="card-user__item">
                                    <p class="card-user__item_text">
                                        В данный момент, у данного пользователя список с рецептами пуст.
                                    </p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="card-user__footer">
                        <button class="button button_style_light-blue button_size_auto" name="subscribe">
                            Отписаться
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_paginated %}
            {% include 'components/pagination.html' with page_obj=page_obj paginator=paginator %}
        {% endif %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/MyFollow.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/myFollow.js' %}"></script>
{% endblock js %}