<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item {% if request.resolver_match.url_name == 'home' %}nav__item_active{% endif %}">
                    <a href="{% url 'recipes:home' %}" class="nav__link link">
                        Рецепты
                    </a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav__item {% if request.resolver_match.url_name == 'subscriptions' %}nav__item_active{% endif %}">
                        <a href="{% url 'users:subscriptions' %}" class="nav__link link">
                            Мои подписки
                        </a>
                    </li>

                    <li class="nav__item {% if request.resolver_match.url_name == 'recipecreate' %}nav__item_active{% endif %}">
                        <a href="{% url 'recipes:recipecreate' %}" class="nav__link link">
                            Создать рецепт
                        </a>
                    </li>

                    <li class="nav__item {% if request.resolver_match.url_name == 'favorites' %}nav__item_active{% endif %}">
                        <a href="{% url 'users:favorites' %}" class="nav__link link">
                            Избранное
                        </a>
                    </li>
                {% endif %}

                <li class="nav__item {% if request.resolver_match.url_name == 'purchases' %}nav__item_active{% endif %}">
                    <a href="{% url 'users:purchases' %}" class="nav__link link">
                        Список покупок 

                        <span class="badge badge_style_blue nav__badge" id="counter">
                            {{ number_of_recipes_in_purchases }}
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="nav__items list">
                {% if request.user.is_authenticated %}
                    <li class="nav__item {% if request.resolver_match.url_name == 'password_change' %}nav__item_active{% endif %}">
                        <a href="{% url 'users:password_change' %}" class="nav__link link">
                            Изменить пароль
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="{% url 'users:logout' %}" class="nav__link link">
                            Выход
                        </a>
                    </li>
                {% else %}
                    <li class="nav__item {% if request.resolver_match.url_name == 'signin' %}nav__item_active{% endif %}">
                        <a href="{% url 'users:signin' %}" class="nav__link link">
                            Войти
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="{% url 'users:signup' %}" class="button button_style_blue">
                            Создать аккаунт
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>