{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock css %}

{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">
            Ссылка на восстановление пароля отправлена.<br>
            Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.
        </p>

        <div class="custom-button-block">
            <a href="{% url 'recipes:home' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>
{% endblock content %}