{% extends 'layouts/base.html' %}

{% load static users %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}

{% block content %}
    {% include 'components/main/header.html' with title='Изменить пароль' %}

    <div class="form-container">
        <form class="form" action="{% url 'users:password_change' %}" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>

                    <div class="form__field-group">
                        {{ field|addclass:'form__input' }}

                        {% if field.help_text %}
                            <span class="form__input-info">
                                {{ field.help_text|safe }}
                            </small>
                        {% endif %}

                        <span class="form__error">
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endfor %}

            <div class="form__footer">
                <button type="submit" class="button button_style_blue">
                    Изменить пароль
                </button>
            </div>
        </form>
    </div>
{% endblock content %}