{% load static users %}

<div class="card-list">
    {% for recipe in recipes %}
        {% url 'recipes:recipe' recipe.pk as recipeURL %}

        <div class="card" data-id="{{ recipe.pk }}">
            <a href="{{ recipeURL }}" class="link" target="_blank">
                <img src="{% static 'images/testCardImg.png' %}" alt="{{ recipe.name }}" class="card__image">
            </a>

            <div class="card__body">
                <a class="card__title link" href="{{ recipeURL }}" target="_blank">
                    {{ recipe.name }}
                </a>

                <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                        <li class="card__item">
                            <span class="badge" style="color: {{ tag.color }}; background: {{ tag.background }};">
                                {{ tag.name }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>

                <div class="card__items card__items_column">
                    <p class="card__text">
                        <span class="icon-time"></span> 

                        {{ recipe.cooking_time }} мин.
                    </p>
                    <p class="card__text">
                        <span class="icon-user"></span> 

                        <a href="{% url 'users:recipes' recipe.author.username %}" style="color: black">
                            {{ recipe.author|get_name_or_username }}
                        </a>
                    </p>
                </div>
            </div>

            <div class="card__footer">
                <button class="button button_style_light-blue" name="purchases" data-out>
                    <span class="icon-plus button__icon"></span>Добавить в покупки
                </button>

                {% if request.user.is_authenticated %}
                    <button class="button button_style_none" name="favorites" data-out>
                        <span class="icon-favorite"></span>
                    </button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>