<ul class="tags">
    <li class="tags__item">
        <a id="tag-1" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="#"></a>
        <label for="tag-1" class="tags__label">Завтрак</label>
    </li>
    <li class="tags__item">
        <a id="tag-2" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="#"></a>
        <label for="tag-2" class="tags__label">Обед</label>
    </li>
    <li class="tags__item">
        <a id="tag-3" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="#"></a>
        <label for="tag-3" class="tags__label">Ужин</label>
    </li>
</ul>