{% load href tags %}

<ul class="tags">
    {% for tag in tags %}
        {% is_the_tag_detected_in_get request tag.pk as is_active_tag %}

        <li class="tags__item">
            <a
                id="tag-{{ tag.pk }}"
                href="{% change_tag request tag.pk %}"
                class="tags__checkbox {% if is_active_tag %}tags__checkbox_active{% endif %}"
                style="color: {{ tag.color }};"
            ></a>
            <label for="tag-{{ tag.pk }}" class="tags__label">{{ tag.name }}</label>
        </li>
    {% endfor %}
</ul>