{% if tags %}
    {% load href tags %}

    <ul class="tags">
        {% for tag in tags %}
            <li class="tags__item">
                <a
                    id="tag-{{ tag.id }}"
                    href="{% change_tag request tag.id %}"
                    class="tags__checkbox {% if tag.id|is_the_tag_detected_in_get:request %}tags__checkbox_active{% endif %}"
                    style="color: {{ tag.color }};"
                ></a>
                <label for="tag-{{ tag.id }}" class="tags__label">{{ tag.name }}</label>
            </li>
        {% endfor %}
    </ul>
{% endif %}