{% extends 'layouts/base.html' %}

{% load static users %}

{% block title %}Создание рецепта{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock css %}

{% block content %}
    {% include 'components/main/header.html' with title='Создание рецепта' %}

    <div class="form-container">
        <form class="form" action="{% url 'recipes:recipecreate' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form__group">
                <label for="{{ form.name.id_for_label }}" class="form__label">{{ form.name.label }}</label>

                <div class="form__field-group">
                    {{ form.name|addclass:'form__input' }}

                    <span class="form__error">
                        {% if form.name.errors %}
                            {{ form.name.errors }}
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="form__group">
                <p class="form__label">{{ form.tags.label }}</p>

                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.fields.tags.choices.queryset %}
                            <div class="tags__item">
                                <input
                                    type="checkbox"
                                    name="tags"
                                    id="tag_{{ tag.id }}"
                                    class="tags__checkbox"
                                    style="color: {{ tag.color }};"
                                    value="{{ tag.id }}"
                                >
                                <label for="tag_{{ tag.id }}" class="tags__label">{{ tag.name }}</label>
                            </div>
                        {% endfor %}
                    </div>

                    <span class="form__error">
                        {% if form.tags.errors %}
                            {{ form.tags.errors }}
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="form__group">
                <label for="ingredient" class="form__label">Ингредиенты</label>

                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="ingredient" class="form__input" data-id="">
                            <div class="form__dropdown-items"></div>
                        </div>

                        <input type="number" id="quantity" class="form__input" min="0">
                        <label for="quantity" class="form__label" id="dimension">шт.</label>
                    </div>

                    <div class="form__field-group-ingredientes-container"></div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    
                    <span class="form__error">
                        {% if form.ingredients.errors %}
                            {{ form.ingredients.errors }}
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="form__group">
                <label for="{{ form.cooking_time.id_for_label }}" class="form__label">{{ form.cooking_time.label }}</label>

                <div class="form__field-group form__field-group_time">
                    {{ form.cooking_time|addclass:'form__input' }}

                    <label for="{{ form.cooking_time.id_for_label }}" class="form__label">минут</label>

                    <span class="form__error">
                        {% if form.cooking_time.errors %}
                            {{ form.cooking_time.errors }}
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">{{ form.description.label }}</label>

                <div class="form__field-group">
                    {{ form.description|addclass:'form__textarea' }}

                    <span class="form__error">
                        {% if form.description.errors %}
                            {{ form.description.errors }}
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="form__group">
                <span class="form__label">{{ form.image.label }}</span>

                <div class="form__field-group">
                    <label for="{{ form.image.id_for_label }}" class="form__file-button">Выбрать файл</label>

                    {{ form.image|addclass:'form__file' }}

                    <span class="form__error">
                        {% if form.image.errors %}
                            {{ form.image.errors }}
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="form__footer">
                <button type="submit" class="button button_style_blue">
                    Создать рецепт
                </button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock js %}