{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    {% include 'components/main/header.html' with title='Рецепты' is_use_tags=True %}

    {% if recipes %}
        <div class="card-list">
            {% for recipe in recipes %}
                {% include 'components/recipes/card.html' with recipe=recipe %}
            {% endfor %}
        </div>

        {% if is_paginated %}
            {% include 'components/pagination.html' with page_obj=page_obj paginator=paginator %}
        {% endif %}
    {% else %}
        {% include 'components/alert.html' with message='К сожалению, в данный момент на сайте нет ни одного рецепта.' %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    {% if request.user.is_authenticated %}
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'js/indexAuth.js' %}"></script>
    {% else %}
        <script src="{% static 'js/indexNotAuth.js' %}"></script>
    {% endif %}
{% endblock js %}