{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ conf.PROJECT_NAME }} | {% block title %}Project{% endblock title %}</title>

        {% block css %}
            <link rel="stylesheet" href="{% static 'pages/index.css' %}">
        {% endblock css %}
    </head>
    <body>
        {% csrf_token %}

        {% include 'components/body/header.html' %}

        <main class="main container">
            {% block content %}{% endblock content %}
        </main>

        {% include 'components/body/footer.html' %}

        <script src="{% static 'js/config/config.js' %}"></script>
        <script src="{% static 'js/api/Api.js' %}"></script>

        {% block js %}{% endblock js %}
    </body>
</html>